@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* https://fonts.google.com/specimen/Roboto+Mono?preview.text=The%20quick%20brown%20fox%20jumped%20over%20the%20lazy%20dog.%20,%20%2F%20%22%20%27%20%5C&preview.text_type=custom&sidebar.open=true&selection.family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700 */

:root {
    --fg: #e2e2e2;
    --mg: #4e4e4e;
    --bg: #2e2e2e;

    --fg-lk: #a2a2a2;
    --bg-lk: #1e1e1e;

    --fnt: "Roboto Mono", monospace;
    --fnt-sz: 24px;
    --fnt-sz-h1: 32px;
    --fnt-sz-mnlnk: 16px;
}

* {
    margin: 0;
    padding: 0;

    overflow: hidden;
    box-sizing: border-box;

    font-family: var(--fnt);
    font-size: var(--fnt-sz);
}

body {
    width: 100vw;
    height: 100vh;

    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: var(--fg) var(--mg);
    /* TODO: add webkit scrollbar */

    color: var(--fg);
    background-color: var(--bg);
}

a,
:link,
:visited {
    padding: 2px 4px;
    border-radius: 4px;

    cursor: pointer;
    text-decoration: none;

    color: var(--fg-lk);
    background-color: var(--bg-lk);
}

a:hover,
:link:hover,
:visited:hover {
    color: var(--fg);

    text-decoration: underline;
}

#side-bar {
    width: 15vw;
    height: 100vh;
    padding: 8px 6px 8px 6px;

    float: right;
    position: fixed;

    background-color: var(--mg);
    border-left: 4px solid var(--fg);
}

#links {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    height: 5%;
}

#links > a {
    font-size: var(--fnt-sz-mnlnk);

    background-color: transparent;
}

#side-nav {
    height: 95%;
    width: 100%;
}

#side-nav a {
    display: block;

    margin-bottom: 6px;
}

#side-nav > div > a {
    width: 80%;
    float: right;
}

#content {
    width: 100%;

    word-wrap: break-word;

    float: left;
    padding-left: 4px;
}

h1 {
    font-weight: bold;
    font-size: var(--fnt-sz-h1);
}
