@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* https://fonts.google.com/specimen/Roboto+Mono?preview.text=The%20quick%20brown%20fox%20jumped%20over%20the%20lazy%20dog.%20,%20%2F%20%22%20%27%20%5C&preview.text_type=custom&sidebar.open=true&selection.family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700 */

:root {
    --foreground: #e2e2e2;
    --middleground: #4e4e4e;
    --background: linear-gradient(0deg, rgba(24, 23, 40, 1) 0%, rgba(55, 55, 65, 1) 100%);

    --link-color: #a2a2a2;
    --link-background: #1e1e1e;

    --font: "Roboto Mono", monospace;
    --font-size: 24px;
    --font-size-h1: 32px;
    --font-size-mnlnk: 16px; /* ? */
}

* {
    margin: 0;
    padding: 0;

    overflow: hidden;
    box-sizing: border-box;

    font-family: var(--font);
    font-size: var(--font-size);
}

body {
    width: 100vw;
    height: 100vh;

    color: var(--foreground);
    background: var(--background);
}

canvas {
    position: fixed;
    inset: 0px;

    z-index: -999;

    width: 100%;
    height: 100%;
}

a,
:link,
:visited {
    padding: 2px 4px;
    border-radius: 4px;

    cursor: pointer;
    text-decoration: none;

    color: var(--link-color);
    background-color: var(--link-background);
}

a:hover,
:link:hover,
:visited:hover {
    color: var(--foreground);

    text-decoration: underline;
}
