@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* https://fonts.google.com/specimen/Roboto+Mono?preview.text=The%20quick%20brown%20fox%20jumped%20over%20the%20lazy%20dog.%20,%20%2F%20%22%20%27%20%5C&preview.text_type=custom&sidebar.open=true&selection.family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700 */

:root {
    --foreground: #e2e2e2;
    --middleground: #4e4e4e;
    --background: linear-gradient(
        0deg,
        rgba(24, 23, 40, 1) 0%,
        rgba(55, 55, 65, 1) 100%
    );

    --link-color: #eeaaff;
    --link-background: #2e2e2e;
    --link-underline-color-hover: #aaeeff;

    --font: "Roboto Mono", monospace;
    --font-size: 24px;
    --font-size-h1: 32px;
    --font-size-mnlnk: 16px; /* ? */

    --body-margin: 12px;
    --body-padding: 12px;
    --body-background: #11111180;
    --border-radius: 4px;
}

* {
    margin: 0;
    padding: 0;

    overflow: hidden;
    box-sizing: border-box;

    font-family: var(--font);
    font-size: var(--font-size);
}

canvas {
    position: fixed;
    inset: 0px;

    z-index: -999;

    width: 100%;
    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;

    color: var(--foreground);
    background: var(--background);
}

#body {
    border-radius: var(--border-radius);

    display: inline-block;
    margin: var(--body-margin);
    padding: var(--body-padding);

    backdrop-filter: blur(10px);
    background-color: var(--body-background);
}

a,
:visited {
    /* padding: 2px 4px;
    border-radius: 4px; */

    display: flex;
    align-items: center;

    text-decoration: none;

    color: var(--link-color);

    /* background-color: var(--link-background); */
}

a:hover,
:visited:hover {
    cursor: pointer;

    text-decoration: underline;

    text-decoration-color: var(--link-underline-color-hover);
}

a:hover svg {
    color: var(--link-underline-color-hover);
}

a svg {
    height: var(--font-size);
    width: var(--font-size);
}

#quote {
    position: absolute;

    left: 0px;
    right: 0px;
    bottom: 0px;

    display: flex;

    justify-content: center;
    align-items: flex-end;
}

#quote span {
    display: block;
}

#quote > span > span {
    text-align: right;
}
