{
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.js", "*ts"],
            "options": {
                "tabWidth": 2,
                "semi": false
            }
        }
    ]
}
