{
    "tabWidth": 4,
    "printWidth": 100,
    "overrides": [
        {
            "files": ["*.js", "*.ts"],
            "options": {
                "tabWidth": 2,
                "semi": true
            }
        }
    ]
}
