@charset "UTF-8";

footer, header, main, nav {
    display:block;
}

html, body, h1, h3, a, footer, header, nav {
    padding:0;
    margin:0;
}

html {
    background-color: #212121;
}

body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

body header.hihello {
    font-weight: bold;
    background-color: #424242;
    color: #ff75a8;
    padding: 10px 20px;
}

section.about h3 {
    color: #ff649d;
}

section.about h3.h {
    padding-top: 20px;
    padding-bottom: 5px;
}

section.about header {
    color: #ff649d;
    padding-top: 10px;
    padding-bottom: 5px;
}

section.about a {
    padding-left: 30px;
    padding-right: 30px;
    display:block;
}

section.about {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffb8d2;
    background-color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

nav.aboutLinks a{
    font-weight: bold;
    color: #ffb8d2;
}

nav.aboutLinks a:link{
    text-decoration: none;
}

nav.aboutLinks a:hover {
    text-decoration: underline;
}

nav.aboutLinks label{
    color: #ffb8d2;
    padding-left: 30px;
    font-weight: bold;
}

nav.aboutLinks label:hover{
    text-decoration: underline;
}

nav.aboutLinks a.discordTag{
    padding-left: 50px;
}

nav.aboutLinks a.discordTag:hover{
    text-decoration: none;
}

input:checked + a {
    display: none;
}
