@charset "UTF-8";

footer {
    padding: 5px 5px;
    background-color: #424242;
}

footer nav a {
    color: #ff75a8;
}

footer nav a:link {
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: underline;
}
