@charset "UTF-8";

html
{
    text-align: center;
    margin: 0px;
    font-family: "Comic Sans MS";
    overflow-y: scroll;
    background-color: #ffcc4d;
}

img
{
    border-style: dashed;
    border-color: #f00;
    background-color: #fff;
    display: inline-block;
    height: 200px;
}

img:hover
{
    border-style: solid;
}

header
{
    color: #0033b2;
}

p#sub
{
    margin: 0px;
    font-size: 64px;
}

p#tit
{
    margin: 0px;
    font-size: 128px;
}

footer a, footer a:link, footer a:visited
{
    text-decoration: none;
    color: #0033b2;
    font-size: 32px;
}

footer a#ALLTHEJOYF
{
    font-size: calc(100vw/12);
}