@charset "UTF-8";

:root
{
    --blue: #0033b2;
    --yellow: #ffcc4d;
    --img-bg-color: #fff;
}

html
{
    text-align: center;
    margin: 0px;
    font-family: "Comic Sans MS";
    overflow-y: scroll;
    background-color: var(--yellow);
}

img
{
    border-style: dashed;
    border-color: var(--blue);
    background-color: var(--img-bg-color);
    display: inline-block;
    height: 200px;
}

img:hover
{
    border-style: solid;
}

header
{
    color: var(--blue);
}

p#sub
{
    margin: 0px;
    font-size: 64px;
}

p#tit
{
    margin: 0px;
    font-size: 128px;
}

footer a, footer a:link, footer a:visited
{
    text-decoration: none;
    color: var(--blue);
    font-size: 32px;
}

footer a#ALLTHEJOYF
{
    font-size: calc(100vw/12);
}