@charset "UTF-8";

html, div, p, div#news, div#top
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 11%;
    margin-right: 11%;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    background-color: #303030;
}

html {
    background-color: #111111;
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

div#top, div#news
{
    margin-top: 5pt;
    margin-bottom: 5pt;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::-webkit-scrollbar {
        background-color: #333333;
    }
    ::-webkit-scrollbar-button {
        background-color: #111111;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ff75a8;
    }
}

@-moz-document url-prefix() {
    html{
        scrollbar-color: #ff75a8 #333333;
    }
}

div#top {
    text-align: center;
    font-weight: bold;
    font-size: 44px;
    color: #f5548a;
}

div#news {
    padding: 4px;
    margin-right: 33%;
}

div#news p#header {
    margin-left: 2%;
    font-size: 28px;
    color: #f5548a;
}

img#construct
{
    width: fit-content;
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
}

div#memes
{
    padding: 0.5%;
}

div#memes video
{
    position: relative;
    width: 32.7%;
    max-width: 32.7%;
    min-width: 32.7%;
}

div#navbar
{
    padding-left: 1%;
    padding-bottom: 4px;
    text-align: left;
}
div#navbar a
{
    margin: 4px;
    color: #f5548a;
    font-size: 33px;
}

div#top p#school
{
    color: #ffffff;
}

div#school p
{
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 33px;
    color: #ffffff;
}

div#school p#school-sign
{
    padding-top: 12px;
    margin-left: 10%;
}

div#footer
{
    margin-top: 5pt;
    text-align: center;
    font-size: 120%;
}

div#footer p#secret-text
{
    margin: 0;
    text-align: right;
    color: #303030;
}

@media (max-width: 1026px) {
    html, div, p , div#news, div#top, div#footer, div#school
    {
        margin-left: 0pt;
        margin-right: 0pt;
    }
    div#top p
    {
        font-size: 88px;
    }
    div#news p#h
    {
        font-size: 66px;
    }
    div#school p
    {
        font-size: 55px;
    }
    div#footer p#secret-text
    {
        font-size: 150%;
    }
}
