@charset "UTF-8";

@font-face {
    font-family: "Exo2-ExtraLight";
    src: url(./src/font/Exo2-ExtraLight.otf) format("opentype");
}

@font-face {
    font-family: "Exo2-ExtraLightItalic";
    src: url(./src/font/Exo2-ExtraLightItalic.otf) format("opentype");
}

@font-face {
    font-family: "Exo2-Regular";
    src: url(./src/font/Exo2-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Exo2-Italic";
    src: url(./src/font/Exo2-Italic.otf) format("opentype");
}

@font-face {
    font-family: "Exo2-Bold";
    src: url(./src/font/Exo2-Bold.otf) format("opentype");
}

@font-face {
    font-family: "Exo2-BoldItalic";
    src: url(./src/font/Exo2-BoldItalic.otf) format("opentype");
}

:root {
    --text-main: rgb(0, 0, 0);
    --text-link: rgb(33, 33, 33);
    --text-link-hover: rgb(255, 255, 255);
    --text-link-decoration: rgba(0, 0, 0, 0.6);
    --text-link-decoration-hover: rgba(255, 255, 255, 0.6);


    --selection: rgba(66, 66, 66, 0.2);

    --header-bg: rgba(0.1, 0.1, 0.1, 0.17);
    --header-item-bg: rgba(0, 0, 0, 0.1);
    --header-item-bg-hover: rgba(255, 255, 255, 0.1);
}

a,
p,
h1,
h2,
div,
body,
html,
:visited {
    margin: 0;
    padding: 0;
    resize: none;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
    color: var(--text-main);
    font-family: Exo2-Regular;
    background-color: transparent;
}

::selection {
    background-color: var(--selection);
}

html {
    overflow: hidden;
}

h1,
h2 {
    color: var(--text-main);
}

h1 {
    cursor: pointer;
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

a:link,
a#about,
a:visited {
    font-size: 42px;
    cursor: pointer;
    border-radius: 4px;
    color: var(--text-link);
    text-decoration: underline;
    background-color: var(--header-item-bg);
    text-decoration-color: var(--text-link-decoration);
}

a:hover,
a#about:hover {
    color: var(--text-link-hover);
    background-color: var(--header-item-bg-hover);
    text-decoration-color: var(--text-link-decoration-hover);
}

p {
    font-size: 32px;
    max-width: 600px;
    color: var(--text-link);
}

div#header {
    width: 690px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 4px;
    padding-bottom: 10px;
    background-color: var(--header-bg);
}

p#pronoun {
    right: 0;
    bottom: 0;
    position: absolute;
}

body {
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-image: linear-gradient(0deg,
                                    #52CDF7 20%,
                                    #F7A8B7 20%, #F7A8B7 40%,
                                    #FEFFFE 40%, #FEFFFE 60%,
                                    #F7A8B7 60%, #F7A8B7 80%,
                                    #52CDF7 80%);
}