@charset "UTF-8";

footer, header, main, nav {
    display:block;
}

html, body, h1, h3, a, footer, header, nav {
    padding:0;
    margin:0;
}

html {
    background-color: #212121;
}

body header {
    font-weight: bold;
}

.hihello {
    background-color: #424242;
    color: #ff75a8;
    padding: 10px 20px;
}

.navig {
    background-color: #333333;
    margin-top: 2px;
    padding: 5px 5px;
    font-size: 24px;
}

.about header {
    color: #ff4086;
}

.about a {
    padding-left: 30px;
    padding-right: 30px;
    display:block;
}

.about {
    color: #ffb8d2;
    background-color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

nav a {
    color: #ff4086;
}

body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.memeVideo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
