@charset "UTF-8";

@font-face {
    font-family: "Exo2-ExtraLight";
    src: url(./src/font/Exo2-ExtraLight.otf) format("opentype");
}

@font-face {
    font-family: "Exo2-ExtraLightItalic";
    src: url(./src/font/Exo2-ExtraLightItalic.otf) format("opentype");
}

@font-face {
    font-family: "Exo2-Regular";
    src: url(./src/font/Exo2-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Exo2-Italic";
    src: url(./src/font/Exo2-Italic.otf) format("opentype");
}

@font-face {
    font-family: "Exo2-Bold";
    src: url(./src/font/Exo2-Bold.otf) format("opentype");
}

@font-face {
    font-family: "Exo2-BoldItalic";
    src: url(./src/font/Exo2-BoldItalic.otf) format("opentype");
}

:root {
    --text-main: rgb(33,33,33);
    --text-link: rgb(66,66,66);
}


h1,
h2,
div,
html,
a,
p,
:visited {
    margin: 0;
    padding: 0;
    resize: none;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
    color: var(--text-main);
    font-family: Exo2-Regular;
    background-color: transparent;
}

div#header {
    display: block;
}

h1,
h2 {
    color: var(--text-main);
}

h1 {
    cursor: pointer;
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

a {
    font-size: 42px;
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
    color: var(--text-link) !important;
}

p {
    font-size: 32px;
    max-width: 600px;
}

div#header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

::selection {
    background-color: rgba(0,0,0,0.1);
}