@charset "UTF-8";

html, div, p, div#news, div#top
{
    padding: 0;
    margin: 0;
    font-family: 'Chloreal';
    display: block;
    color: #B963EF;
    background-color: #25003D;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::-webkit-scrollbar {
        background-color: #333333;
    }
    ::-webkit-scrollbar-button {
        background-color: #111111;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #B963EF;
    }
}

@-moz-document url-prefix() {
    html{
        scrollbar-color: #B963EF #25003D;
    }
}

div#top {
    text-align: center;
    font-weight: bold;
    font-size: 44px;
}

div#stuff
{
    display: block;
    border-style: none double none double;
    border-color: #B963EF;
}

div#stuffItem
{
    font-family: 'Aller';
    overflow: hidden;
    float: left;
    padding: 0px;
    margin: 0px;
    width: 33.2%;
    position: relative;
    display: block;
    width: fit-content;
    border-style: solid;
    border-color: inherit;
    border-width: 1px;
    background-color: #432655;
}

div#stuffItem a, div#stuffItem a:visited, div#stuffItem a:link
{
    font-size: 20px;
    text-decoration: none;
    color: #B963EF;
    display: block;
}

div#stuffItem a:hover
{
    font-weight: bold;
}

img#construct
{
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
}

div#memes video
{
    display: inline-block;
    width: 32.7%;
    max-width: 100%;
    min-width: 25%;
}

div#navbar
{
    border-style: double double none double;
    border-color: #B963EF;
    padding: 10pt;
    text-align: left;
}

div#navbar a
{
    padding-left: 1%;
    padding-right: 1%;
    border-style: solid;
    border-color: #25003D;
    text-decoration: none;
    display: inline-block;
    color: #B963EF;
    font-size: 33px;
}

div#navbar a:hover
{
    border-color: #B963EF;
    border-style: solid;
    background-color: #432655;
    color: #B963EF;
}

div#footer
{
    text-align: center;
    font-size: 120%;
}

div#footer
{
    text-align: right;
    color: #303030;
}

@media (max-width: 620px) {

}

/*
@media (max-width: 1026px) {
    html, div, p , div#news, div#top, div#footer, div#school
    {
        margin-left: 0pt;
        margin-right: 0pt;
    }
    div#top p
    {
        font-size: 88px;
    }
    div#news p#h
    {
        font-size: 66px;
    }
    div#school p
    {
        font-size: 55px;
    }
    div#footer p#secret-text
    {
        font-size: 150%;
    }
}
*/
