@charset "UTF-8";

:root
{
    --main: #000; /*#B963EF*/
    --bg: #fff; /*#25003D*/
    --bg2: rgb(189,189,189); /*#432655*/
}

.inverted
{
    --main: #fff;
    --bg: #000;
    --bg2: rgb(66,66,66);
}

html, body, footer, head, div, p, div#news, div#top
{
    padding: 0;
    margin: 0;
    font-family: 'ModeSeven';
    display: block;
    color: var(--main);
    background-color: var(--bg);
}

html
{
    height: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::-webkit-scrollbar {
        background-color: var(--bg2);
    }
    ::-webkit-scrollbar-button {
        background-color: var(--bg);
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--main);
    }
}

@-moz-document url-prefix() {
    html{
        scrollbar-color: var(--main) var(--bg);
    }
}

div#top {
    text-align: center;
    font-weight: bold;
    font-size: 44px;
}

div#stuff
{
    display: block;
    border-style: none double none double;
    border-color: var(--main);
}

div#stuffItem
{
    overflow: hidden;
    float: left;
    padding: 0px;
    margin: 0px;
    width: 33.2%;
    position: relative;
    display: block;
    width: fit-content;
    border-style: solid;
    border-color: inherit;
    border-width: 1px;
    background-color: var(--bg2);
}

div#stuffItem a, div#stuffItem a:visited, div#stuffItem a:link
{
    font-size: 20px;
    text-decoration: none;
    color: var(--main);
    display: block;
}

div#stuffItem a:hover
{
    font-weight: bold;
}

img#construct
{
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
}

div#memes
{
    border-style: none double none double;
}

div#memes video
{
    display: inline-block;
    width: 32.7%;
    max-width: 100%;
    min-width: 25%;
}

div#navbar
{
    display: felx;
    justify-content: space-around;
    border-style: double double none double;
    border-color: var(--main);
    padding: 10pt;
}

div#navbar a
{
    padding-left: 1%;
    padding-right: 1%;
    border-style: solid;
    border-color: var(--bg);
    text-decoration: none;
    display: inline-block;
    color: var(--main);
    font-size: 33px;
}

div#navbar a:hover
{
    border-color: var(--main);
    border-style: solid;
    background-color: var(--bg2);
    color: var(--main);
}

footer
{
    display: flex;
    justify-content: space-around;
    padding-top: 7px;
    padding-bottom: 10px;
    border-style: none double double double;
    text-align: center;
    color: var(--main);
}

footer a, footer a:link, footer a:visited
{
    background-color: var(--bg2);
    /*border-style: solid;
    border-color: var(--bg);*/
    color: var(--main);
    font-size: 120%;
    text-decoration: none;
}

footer a:hover
{
    cursor: pointer;
}

/*
@media (max-width: 620px) {

}
*/

/*
@media (max-width: 1026px) {
    html, div, p , div#news, div#top, div#footer, div#school
    {
        margin-left: 0pt;
        margin-right: 0pt;
    }
    div#top p
    {
        font-size: 88px;
    }
    div#news p#h
    {
        font-size: 66px;
    }
    div#school p
    {
        font-size: 55px;
    }
    div#footer p#secret-text
    {
        font-size: 150%;
    }
}
*/

div#hehe
{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10px;
    width: 10px;
}

div#hehe:hover
{
    background-color: var(--bg2);
    cursor: pointer;
}
