@charset "UTF-8";

:root
{
    --main: #fff; /*#B963EF*/
    --bg: #000; /*#25003D*/
    --bg2: rgb(66,66,66); /*#432655*/
}

.inverted
{
    --main: #000;
    --bg: #fff;
    --bg2: rgb(189,189,189);
}

@font-face
{
    font-family: "M7";
    src: url(../src/font/ModeSeven.ttf);
}

html
{
    color: var(--main);
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-family: "M7";
    background-color: rgb(33,33,33);
    height: 100%;
}

div#main
{
    height: 600px;
    width: 800px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: var(--bg);
}

input.cmd
{
    overflow: scroll;
    cursor: default;
    font-family: "M7";
    font-family: ModeSeven;
    width: 99.7%;
    font-size: 24px;
    color: transparent;
    text-shadow: 0px 0px 0px var(--main);
    background-color: var(--bg);
    border: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::-webkit-scrollbar {
        background-color: var(--bg2);
    }
    ::-webkit-scrollbar-button {
        background-color: var(--bg);
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--main);
    }
}

@-moz-document url-prefix() {
    html{
        scrollbar-color: var(--main) var(--bg);
    }
}
