@charset "UTF-8";

:root {
  --fs: 24px;
}

.dark {
  --main: #fff;
  --bg: #000;
  --bg2: rgb(66, 66, 66);
}

.light {
  --main: #000;
  --bg: #fff;
  --bg2: rgb(189, 189, 189);
}

.purple {
  --main: #b963ef;
  --bg: #25003d;
  --bg2: #432655;
}

.red {
  --main: #f00;
  --bg: #300;
  --bg2: rgb(66, 0, 0);
}

.green {
  --main: #0f0;
  --bg: #030;
  --bg2: rgb(0, 66, 0);
}

.blue {
  --main: #00f;
  --bg: #003;
  --bg2: rgb(0, 0, 66);
}

.zebra {
  --main: #fff;
  --bg: #000;
  --bg2: rgb(66, 66, 66);
}

.zebra textarea.resp {
  --main: #000;
  --bg: #fff;
  --bg2: rgb(189, 189, 189);
}

@font-face {
  font-family: "PxPlus_IBM_VGA9";
  src: url(./src/font/PxPlus_IBM_VGA_9x16.ttf);
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: var(--main);
  font-size: var(--fs);
  margin: 0px;
  padding: 0px;
  font-family: "PxPlus_IBM_VGA9";
  background-color: rgb(33, 33, 33);
}

div#main {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: var(--bg);
}

div#main::-webkit-scrollbar {
  width: 0px;
  display: none;
  background: transparent;
}

textarea {
  outline: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow: hidden;
  resize: none;
  height: 2ch;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  cursor: default;
  font-family: "PxPlus_IBM_VGA9";
  font-size: var(--fs);
  color: var(--main);
  cursor: default;
  text-shadow: 0px 0px 0px var(--main);
  background-color: var(--bg);
  border: none;
}

div#getHeight {
  margin: 0px;
  padding: 0px;
  color: transparent;
  background-color: transparent;
  width: 100vw;
  word-wrap: break-word;
}

.no-scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.no-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
