@font-face {
	font-family: "Perfect DOS VGA 437 Win";
	src: url("../../font/Perfect\ DOS\ VGA\ 437\ Win.ttf");
}

:root {
	--black: #000000;
	--grey: #808080;
	--maroon: #800000;
	--red: #ff0000;
	--green: #008000;
	--lime: #00ff00;
	--olive: #808000;
	--yellow: #ffff00;
	--navy: #000080;
	--blue: #0000aa;
	--purple: #800080;
	--magenta: #ff00ff;
	--teal: #008080;
	--aqua: #00ffff;
	--silver: #c0c0c0;
	--white: #ffffff;

	--font: "Perfect DOS VGA 437 Win", monospace;
	--font-size: 24px;

	--cursor-height: 200px;
	--cursor-padding: 75px;

	--search-padding: 4px;
	--search-input-padding: 2px;
	--note-padding: 12px;
}

* {
	margin: 0;
	padding: 0;

	font-family: var(--font);

	box-sizing: border-box;

	scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: var(--body-padding);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-scrollbar-thumb);
}

::-webkit-scrollbar-track {
	background-color: var(--color-scrollbar-track);
}

body {
	background-color: var(--teal);
}

#search {
	position: fixed;

	top: 0px;
	right: 0px;

	padding: var(--search-padding);

	z-index: 999;

	box-shadow: -8px 8px 0px rgba(0, 0, 0, 0.7);
	background-color: var(--teal);
}

#search-label {
	color: var(--white);
}

#search-input {
	color: var(--color-search-none);

	padding: var(--search-input-padding);

	outline: none;
	border: solid 2px;

	background-color: var(--grey);
}

::-webkit-search-cancel-button {
	display: none;
}

.cursor-list {
	display: grid;

	grid-template-columns: repeat(7, 1fr);
}

.cursor {
	height: 20vh;

	position: relative;

	text-align: center;

	color: var(--white);
	background-color: transparent;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	border: 2px solid;
	border-color: var(--silver) var(--grey) var(--grey) var(--silver);
}

.note {
	display: none;

	color: var(--silver);

	text-align: left;

	position: absolute;

	left: 0px;
	bottom: 0px;

	white-space: normal;

	margin: var(--note-padding);
}

.note::before {
	content: "Note: ";

	color: var(--red);
}

a,
a:visited {
	text-decoration: none;
}

a:hover,
avisited:hover {
	cursor: pointer;

	text-decoration: underline;
	text-decoration-color: var(--maroon);
}
