:root {
    --font: "Unifont", monospace;

    --col-bg: #3f3f3f;
    --col-bg2: #2e2e2e;

    --col-ac: #eeaaff;
    --col-ac2: #ffeeaa;
}

* {
    margin: 0;
    padding: 0;

    overflow: hidden;

    font-family: var(--font);
}

#C {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    font-size: 100vh;

    color: var(--col-ac);
    background-color: var(--col-bg2);
}

#card-box {
    right: 0;
    bottom: 0;
    display: flex;
    position: absolute;

    width: auto;
    height: auto;

    align-items: flex-end;
    justify-content: space-evenly;
}

.site-card {
    margin: 4px;
    padding: 1rem 1rem;

    font-size: 2vh;

    text-align: center;
    border-radius: 4px;
    display: inline-block;

    background-color: var(--col-bg);
}

a,
:link,
:visited {
    color: var(--col-ac2);

    text-decoration: none;
}

a:hover,
:link:hover,
:visited:hover {
    color: var(--col-ac2);

    cursor: pointer;

    text-decoration: underline;
}
