@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

$selection: rgba(255, 255, 255, 0.4);
$separator: rgba(255, 255, 255, 0.35);
$underlay: rgba(0, 0, 0, 0.4);

$infobox-bg: rgba(0, 0, 0, 0.8);
$infobox-border: rgb(233, 233, 233);
$infobox-shadow: rgba(0, 0, 0, 0.4);

$text-main: rgb(255, 255, 255);
$text-link: rgb(233, 233, 233);
$text-link-decoration-hover: rgba(200, 200, 200, 0.6);

$font-main: "Inter";
$font-any: $font-main,
sans-serif;

.goodbye {
  display: none;
}

a,
p,
h1,
hr,
div,
body,
html,
:visited {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  color: $text-main;
  background-color: transparent;
  font-family: $font-any;
}

::selection {
  background-color: $selection;
}

html {
  overflow: hidden;
}

div#infobox>h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 0.9;
  margin-bottom: 10px;
  display: inline-block;
  color: $text-main;
}

#hihello:hover {
  cursor: pointer;
}

a:link,
a#about,
a:visited {
  font-size: 42px;
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
  color: $text-link;
  text-decoration: none;
}

a:hover,
a#about:hover {
  text-decoration: underline;
  text-decoration-color: $text-link-decoration-hover;
}

p {
  font-size: 32px;
  max-width: 600px;
  color: $text-link;
}

div#infobox {
  padding: 32px;
  display: block;
  backdrop-filter: blur(20px);
  background-color: $infobox-bg;
  border: 8px solid $infobox-border;
  box-shadow: 12px 12px 0 4px $infobox-shadow;
}

hr {
  height: 4px;
  border: none;
  margin: 10px 0px 10px 0px;
  background-color: $separator;
}

p#pronouns {
  right: 0;
  bottom: 0;
  position: absolute;
}

div#underlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: $underlay;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-image: linear-gradient(0deg,
      #52cdf7 20%,
      #f7a8b7 20%,
      #f7a8b7 40%,
      #fefffe 40%,
      #fefffe 60%,
      #f7a8b7 60%,
      #f7a8b7 80%,
      #52cdf7 80%);
}